.about {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-height: 20rem;
  box-shadow: 0px 0px 25px 1px #252525;
}

.about h1 {
  font-size: 2.2rem;
}

.image-overlay {
  position: relative;
  height: 100%;
  min-height: 20rem;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  z-index: 1;
  min-height: 20rem;
}

.content-card-about {
  position: relative;
  z-index: 2;
  padding-top: 4rem;
  padding-bottom: 3rem;
  color: white;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-about {
  max-width: 50rem;
  padding: 2rem;
  text-align: center;
  backdrop-filter: blur(7px);
  background: rgb(37, 37, 37, 0.7);
  border-radius: 16px;
}
