@keyframes go-back {
  0% {
    transform: translateX(50%);
    opacity: 10%;
  }
  20% {
    opacity: 40%;
  }
}

.notification-container {
  position: fixed;
  bottom: 90px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  width: 420px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

@media (max-width: 600px) {
  .notification-container {
    width: 320px;
  }
}

media (max-width: 300px) {
  .notification-container {
    width: 250px;
  }
}

.notification-container.show {
  opacity: 1;
  visibility: visible;
}

.notification-container .btn-close:active {
  box-shadow: none;
}
