@keyframes go-back {
  0% {
    transform: translateX(50%);
    opacity: 10%;
  }
  20% {
    opacity: 40%;
  }
}

.notification-container {
  position: fixed;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  text-align: start;
}

@media (max-width: 500px) {
  .notification-container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.notification-container.show {
  opacity: 1;
  visibility: visible;
}

.notification-container .btn-close:active {
  box-shadow: none;
}
