@keyframes go-back {
  0% {
    transform: translateX(50%);
    opacity: 10%;
  }
  20% {
    opacity: 40%;
  }
}

.notification-container {
  position: fixed;
  bottom: 90px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.notification-container.show {
  opacity: 1;
  visibility: visible;
}
