.buy-and-cart-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.buttons-detali {
  transition: all 0.3s ease 0s;
}

.buttons-detali:hover {
  box-shadow: 0px 8px 20px rgba(416, 229, 157, 0.4) !important;
  transition: 0.3s ease-in-out;
}

.btn-addToCart {
  background: transparent;
  color: #45322e;
  border-color: #45322e;
}

.btn-BuyNow {
  background-color: #e3d98d;
}

.btn-BuyNow:hover,
.btn-addToCart:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1) !important;
  transition: 0.3s ease-in-out !important;
  background-color: #bba66e !important;
  color: #252525 !important;
  border-color: #ddd !important;
}

.btn-BuyNow:active,
.btn-addToCart:active {
  background: #45322e;
  color: #e3d98d !important;
  border-color: #45322e !important;
}
