.button-clean-cart {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  transition: all 0.3s ease 0s;

  border-radius: 13px;
  font-size: 16px;
}

.button-clean-cart:hover {
  box-shadow: 0px 15px 20px rgba(400, 229, 157, 0.3);
  transition: 0.3s ease-in-out;
}
