.content-button-contador-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#quantity {
  font-size: 1.1rem;
}

#buttonAumentoOuDesfaz {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

#buttonAumentoOuDesfaz Button {
  border-radius: 8px;
  border: 1px solid #454545 !important;
  background-color: transparent !important;
  width: 50px;
  box-sizing: border-box;
  height: 26px;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  disablewave: true !important;
  wavecolor: transparent !important;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
}

#buttonAumentoOuDesfaz Button:hover {
  box-shadow: 0px 15px 20px rgba(400, 229, 157, 0.3);
  transition: 0.2s linear;
  color: #45322e !important;
  background: #45322e !important;
  color: #e3d98d !important;
  border-color: #45322e !important;
}

#buttonAumentoOuDesfaz Button:active {
  box-shadow: 0px 15px 20px rgba(400, 229, 157, 0.3);
  transition: 0.2s linear;
  color: #45322e !important;
  background: #45322e !important;
  color: #e3d98d !important;
  border-color: #45322e !important;
}

.ant-btn-primary {
  background-color: red !important;
}

#buttonAumentoOuDesfaz Button div {
  color: #a39953 !important;
}
