.content-card {
  background-color: #252525;
  padding-top: 0.5rem;
  text-align: center;
  box-shadow: 0px 0px 30px 1px #252525;
  color: #e3d98d;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 1rem 2rem 2rem;
  align-items: center;
  text-align: center;
  color: #fff;
  flex-basis: calc(33.33% - 2rem);
}

@media screen and (max-width: 768px) {
  .card-body {
    flex-basis: calc(50% - 2rem);
  }
}

@media screen and (max-width: 480px) {
  .card-body {
    flex-basis: calc(100% - 2rem);
  }
}
.links-helps {
  background-color: #e3d98d;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  color: #252525;
  padding: 20px;
  width: 340px;
  height: 160px;
}

#list-link-social {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.link-social {
  background-color: #e3d98d;
  border-radius: 30px;
  color: #252525;
  padding: 20px;
  align-items: center;
  text-align: center;
  width: 340px;
  height: 160px;
}

.links-map {
  background-color: #e3d98d;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  color: #252525;
  padding: 20px;
  width: 340px;
  height: 160px;
}

.logo-footer {
  background-color: #e3d98d;
  margin: -2rem 0 -2rem 0;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  text-decoration: none;
}

.logo-footer a {
  text-decoration: none;
}

.logo-footer a:hover {
  text-decoration: none;
  transition: 0.6s;
  color: #fff;
}

.assinatura {
  color: #151515;
}

.assinatura:hover {
  transition: 0.6s;
  color: #fff;
}

#link-facebook,
#link-twitter,
#link-linkedin,
#link-instagram {
  border: 1px solid #252525;
  font-size: 19px;
  border-radius: 18px;
  padding: 10px;
  width: 60px;
  transtion: 2s ease-in-out;
}

#link-facebook:hover,
#link-twitter:hover,
#link-linkedin:hover,
#link-instagram:hover {
  background-color: #252525;
  color: #fff;
  transtion: 2s background-color ease-in;
}

.link-social svg {
  width: 30px;
  height: 30px;
}
