.container-page-cartWithPayment {
  width: 100%;
  background-image: url("/assets/img-header.svg");
  background-size: contain;
  background-repeat: repeat-x;
  padding-top: 8%;
}

.list-cart {
  padding: 2rem 4rem 4rem 4rem;
  display: flex;
  justify-content: center;
}

.table-responsive {
  overflow-x: auto;
  width: 100%;
  backdrop-filter: blur(7px);
  background: rgb(255, 255, 255, 0.9);
  border-radius: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: separate;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24), 0px 0px 48px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  border-spacing: 5px 40px;
}

.cart-table th,
.cart-table td {
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

.cart-table td {
  border-bottom: 3px solid rgb(227, 217, 141, 0.7);
  border-radius: 2px;
}

.cart-table th {
  background-color: rgb(227, 217, 141, 0.7);
  backdrop-filter: blur(7px);
  font-weight: bold;
  text-transform: uppercase;
}

.cart-table td select {
  width: 80px;
  padding: 0.25rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.cart-table td .name {
  display: flex;
  align-items: center;
}

.cart-table td .name img {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.product-image {
  width: 50px;
  border-radius: 10px;
}

.cart-without-products {
  padding: 1rem;
  margin: 6rem 0;
  text-align: center;
}

.cart-without-products img {
  width: 22%;
  padding: 1rem;
  margin: 1rem;
}

@media (max-width: 1020px) {
  .cart-without-products img {
    width: 35%;
  }
}

@media (max-width: 800px) {
  .cart-without-products img {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .cart-without-products img {
    width: 70%;
  }
}

.cart-without-products h6 {
  color: #404040;
  margin: 1rem;
}

.cart-without-products a {
  color: #403030;
}

.action-table {
  opacity: 1%;
}
