.slick-list {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slick-slide img {
  max-width: 200px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.product-slider,
.slick-slide {
  margin-right: 40px; /* Adiciona espaço à direita de cada slide */
  width: 400px !important;
  text-align: center;
}

.product-card {
  background-color: #fff;
  border: 1px solid #e3d98d;
  border-radius: 3px;
  padding: 2rem;
  height: 560px;
  align-text: center;
}

button.slick-prev:before,
button.slick-next:before {
  color: #000 !important;
  font-size: 2rem;
  transtion: 2s linear;
}

.slider-container .slick-prev,
.slider-container .slick-next {
  position: absolute;
  top: 50%;
  transtion: 2s linear;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.slider-container .slick-prev {
  left: 10px;
}

.slider-container .slick-next {
  right: 10px;
}

.card-body-action {
  text-align: center;
  justify-content: center;
  position: relative;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
}

.card-body-action .card-link {
  background-color: rgb(255, 255, 255);
  color: #252525;
  margin: 7px;
  width: 13rem;
  border: 1px solid #252525;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 2rem;
  text-decoration: none;
}

.card-body-action .card-link-buy {
  background-color: #e3d98d;
  color: #252525;
  margin: 7px;
  width: 13rem;
  border: 2px solid #252525;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 2rem;
  text-decoration: none;
}

.card-link-buy:hover,
.card-link:hover {
  background-color: #252525;
  color: #e3d98d;
  transition: 0.24s ease-in-out;
  text-decoration: none;
}
