.slick-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slick-slide img {
  max-width: 200px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  backdrop-filter: blur(10px);
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  padding: 2rem;
  height: 340px;
  align-text: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

button.slick-prev:before,
button.slick-next:before {
  color: #000 !important;
  font-size: 2rem;
  transition: 2s linear;
}

.slider-container .slick-prev,
.slider-container .slick-next {
  position: absolute;
  top: 50%;
  transition: 2s linear;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.slider-container .slick-prev {
  left: 10px;
}

.slider-container .slick-next {
  right: 10px;
}

.product-card .card-body-action button {
  display: none;
}

.product-card:hover .card-body-action button {
  display: block;
}

.product-card:hover {
  height: 370px;
  transition: all 0.2s ease-in-out;
}

.card-hover {
  text-decoration: none;
  color: #252525;
}

.card-body-action {
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
  margin-bottom: 10px;
}

.card-body-action .card-link {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  color: #252525;
  margin: 7px;
  width: 13rem;
  border: 1px solid #dbdbdb;
  font-size: 16px;
  border-radius: 1rem;
  text-decoration: none;
}

.card-body-action .card-link-buy {
  padding: 10px;
  background-color: #e3d98d;
  color: #252525;
  margin: 7px;
  width: 13rem;
  border: 1px solid #e3d98d;
  font-size: 16px;
  border-radius: 1rem;
  text-decoration: none;
}

.card-link-buy:hover,
.card-link:hover {
  background-color: #252525;
  color: #e3d98d;
  transition: 0.24s ease-in-out;
  text-decoration: none;
}

.card-image-slick {
  max-width: 130px;
  max-height: 130px;
  object-fit: contain;
}

.slick-initialized .slick-slide {
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
