#root {
  margin: 0 auto;
  text-align: center;
  background: #ededed;
}

.section-product {
  width: 100%;
  background-image: url("/assets/img-header.svg");
  background-size: contain;
  background-repeat: repeat-x;
}

.section-product h2 {
  padding-top: 7%;
}
