#root {
  margin: 0 auto;
  top: 0;
  left: 0;
  text-align: center;
  background: #ededed;
}

body,
html {
  overflow: visible;
}

.section-product {
  width: 100%;
  background-image: url("/assets/img-header.svg");
  background-size: contain;
  background-repeat: repeat-x;
}

.section-product h2 {
  padding-top: 7%;
}

.center {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.left {
  align-items: left;
  text-align: left;
  justify-content: left;
}

@media print {
  body {
    margin: 0;
  }

  #root {
    margin: auto;
    width: 100%;
  }
}
