.data-review-modal {
  border: 1px solid #151515;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  padding: 0.5rem;
  background-color: #ededed;
}

.ant-table {
  border-radius: 15px !important;
}

@media (max-width: 768px) {
  .ant-table {
    overflow: auto;
  }

  .data-review-modal {
    padding: 0;
  }

  .data-review-modal p {
    margin: 10px;
  }
}
